form {
  display: flex;
  flex-direction: column;
}

button {
  margin-right: 15px;
  margin-top: 15px;
}

.radio-button {
  margin-left: 15px;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 15px;
}
