
  <mat-card class="dashboard mat-elevation-z3">
      <h2>Este APP é um projeto utilizando Angular + Node ou Json - É um cadastro de pessoa </h2>
    <h3>
        Base de dados:  <br> 
        1 - A base de dados deve ter duas tabelas: pessoa e profissão <br>
        <br>
        API: <br>
        1 - A API deve ter um cadastro para pessoa e profissão <br>
        2 - Uma Pessoa só pode ter uma profissão <br>
        3 - A API deve ter um endpoint para pessoa e outro para profissão <br>
        4 - Para ambos você tem que construir operações CRUD<br>
        <br>
        Frontend: <br>
        1 - Deve ter uma página para listar todas as pessoas <br>
        2 - Ao clicar no botão "ler mais" deve redirecionar para "detais da pessoa" 
        página mostrando apenas a pessoa selecionada<br>
        3 - Deve permitir cadastrar nova pessoa <br>
        4 - Deve permitir editar a pessoa <br>
        5 - Deve permitir remover pessoa <br>
        6 - Ao clicar no botão remover deve aparecer a tela modal perguntando 
        se você tiver certeza sobre a exclusão, se sim, remova se não, não faça nada
           </h3>
  </mat-card>